<div class="container-fluid darkGrey pagetitle">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="title">Добавки до бетонів та будівельних розчинів <span class="orangeTxt">Conwisol</span></h1>
        </div>
        <div class="col-sm-6 breadcrmbs">
            <a href="#">Головна /</a>
            <a href="#" class="active">Conwisol</a>
        </div>
      </div>
    </div>
</div>

<p id="notice"><%= notice %></p> <!-- Убрать это -->

<div class="container">
  <div class="row">
    <br>
    <% @conwisols.each do |conwisol| %>
    <div class="col-sm-4">
      <%= image_tag(conwisol.image_url, class: "img-responsive") %>
      <h4><%= conwisol.name %></h4>
      <p class="text"><%= conwisol.description %></p>
      <%= link_to 'Змінити', edit_conwisol_path(conwisol) %> |
      <%= link_to 'Знищити', conwisol, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>

    <div class="col-sm-12">
      <br>
      <%= link_to 'Додати новий', new_conwisol_path %>
    </div>
  </div>
</div>