<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @conwisol.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @conwisol.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag(@conwisol.image_url, class: "img-responsive") %>
</p>

<%= link_to 'Edit', edit_conwisol_path(@conwisol) %> |
<%= link_to 'Back', conwisols_path %>
